@import url('./global.css');

/* --------------------HEADER----------------------- */
header{
    display: flex;
    justify-content: space-around; /* espaçamento igual entre os itens e margem */
    align-items: center ;
    background-color: var(--color-neutral-silver);
}

.logo{
    padding: 30px 0px;
}

.nav-header ul{
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav-header ul a{
    text-decoration: none;
    color: #18191F;
}
.active{ /* Ativo */
    font-weight: bold;
}

.btn-login{
    color: var(--color-primary);
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
}
.btn-SignUp{
    color: var(--color-neutral-white);
    background-color: var(--color-primary);
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}
.btn-header{
    gap: 14px;
    padding: 22px 0px;
}

/* --------------------FIM HEADER----------------------- */

/* --------------------MAIN----------------------- */
main{
    display: flex;
    background-color: var(--color-neutral-silver);
    align-items: center;
    justify-content: center;
    gap: 104px;
    padding: 96px 0px;
}

.content-lessons{
    width: 657px;
}

h1{
    color: var( --color-neutral-d_grey);
    font-size: 64px;
    font-weight: 600;
}

.content-lessons span{
    color: var(--color-primary);

}

.content-lessons p{
    margin-top: 16px;
}

/* ------------ FIM MAIN ------------- */

/* ------------ OUR CLIENTS ------------- */
.our-clients{
    text-align: center;
    margin-top: 40px;
}
.our-clients p{
    margin-top: 8px;
    font-size: 16px;
}

.logo-clients{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 136px;
    padding: 25px 0px;
}

/* ------------ FIM OUR CLIENTS ------------- */
/* ------------ MANAGE SYSTEM ------------ */

.manage-system{    
    text-align: center;
    margin-top: 40px;    
}

.manage-system h2{
    width: 542px;
    margin: 0 auto;
}

#manage-system-subtitle{
    margin-top: 8px;
}

.cards-container{
    display: flex;
    margin-top: 16px;
    gap: 127.5px;
    justify-content: center;
}

.cards-container article{
    width: 299px; 
    box-shadow: 0px 2px 4px rgba(171, 190, 209, 0.2);
    padding: 24px 16px;
    text-align: center;
    border-radius: 8px; 
    transition: 0.5s;
}

.cards-container article:hover{
    box-shadow: 0px 8px 12px rgba(171, 190, 209, 0.5);
    transform: translateY(-8px);
}

.cards-container article img{
    width: 65px;
    height: 56px;
}

.cards-container article h3{
    color: var(--color-neutral-d_grey);
    font-size: 28px;
    margin-bottom: 8px;
    width: 231px;
    text-align: center;
    margin: 0 auto;

}

.cards-container article p{
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.6;
}

/* ------------ FIM MANAGE SYSTEM ------------ */   
/* ------------ PIXELGRADE ------------ */
.pixelGrade{
    display: flex;
    justify-content: center;
    gap: 49px;
    margin-top: 42px;
    padding: 52px;
}
.pixelGrade-content{
    width: 661px;
}

.pixelGrade-content h2{
    font-size: 36px;
    margin-bottom: 16px;
    width: 526px;
}

.pixelGrade-content p{
    margin-top: 16px;
}

/* ------------ FIM PIXELGRADE ------------ */

/* ------------ HELPING CLIENTS ------------ */
.helping-local{
    display: flex;
    margin: 48px 0px;
    background-color: var(--color-neutral-silver);
    justify-content: center;
    align-items: center;
    gap: 204px;
    padding: 64px 0px;
}

.helping-content h2{
    width: 390px;
}

.helping-content h2 span{
    color: var(--color-primary);
}

.helping-content p{
    margin-top: 8px ;
    color: #18191F;
}

.helping-statistic{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Quantas vezes a estilização vai repetir */ /* 2, 1 fr  2 itens por coluna e o espaço que ela ocupa*/
    gap: 50px;
}
.helping-itens{ /* coloca o h3 e o p ao lado */
    display: flex;
    gap: 16px;
}

.helping-itens img{
    width: 48px;
    height: 48px;
}

.information-itens{
    text-align: start;
}
/* ------------ FIM HELPING CLIENTS------------ */

/* ------------ HOW DESIGN------------ */

.how-design{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    gap: 49.47px;
}

.how-design img{
    width: 442px;
    height: 435px;
}

.how-design-content{
    padding: 62.7px;
    width: 601px;
}
.how-design-content p{
    margin-top: 16px;
    line-height: 1.5;
}

/* ------------ FIM HOW DESIGN------------ */

/* ------------ CUSTOMER------------ */

.customer{
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
    gap:78px;
    background-color: var(--color-neutral-silver);
}

.customer-content{
    width: 748px ;
}

.customer-content p{
    line-height: 1.5;
    margin-bottom: 16px;
}

.customer-content h2{
    color: var(--color-primary);
    font-size: 20px;
    margin-bottom: 8px;
}

.customer-content p:nth-of-type(2){ /* estilizar o segundo paragrafo do index */
    color: var(--color-neutral-L_grey);
}

.customer-container{
    display: flex;
    gap: 32px;
    align-items: center;
}

.customer-itens{
    display: flex;
    gap: 41px;
}
.customer-itens img{
    width: 48px;
    height: 48px;
}

.customer-navigation a{
    display: flex;
    text-decoration: none;
    gap: 8px;
}

.customer-navigation a p{
    color: var(--color-primary);
    margin: 0; /* tirando padrão do p */
    font-weight: 600;
}
    
/* ------------ FIM CUSTOMER------------ */







